body {
    overflow-y: hidden;
    height: 100vh;
    background-color: #000000;
    font-family: 'Arial', sans-serif;
    user-select: none; /* すべてのテキスト選択を無効化 */
    position: relative;
}

* {
    color: rgb(243, 243, 243);
    font-size: 97%;
    border-radius: 4px;
    text-shadow: 0px 1px 0px rgb(28, 28, 28);
}

.sharpBoder {
    border-radius: 0px;
}

.text {
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
    text-align: right;
}

select {
    appearance: auto;
    -webkit-appearance: auto;
    background-color: #151515;
    border-radius: 4px;
    border: solid rgb(63, 63, 63) 2px;
    padding: 2px;
    /* min-width: fit-content; */
    max-width: 100%;
    overflow: hidden;

    -webkit-appearance: none; /* Safari/Chrome */
    -moz-appearance: none;    /* Firefox */
    appearance: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.select-wrapper select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2em;
}

.select-wrapper::after {
    content: "▼"; /* お好みで画像でもOK */
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

select:hover {
    background-color: rgb(71 114 179);
}

input {
    background-color: rgb(120, 120, 120);
    border: solid rgb(79, 79, 79) 1px;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0px 1px 0px rgb(28, 28, 28);
    height: 15px;
    /* filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.5)); */
}

input:hover {
    background-color: rgb(144, 144, 144);
}

input[type="text"] {
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
    text-align: right;
}

input .no-access {
    pointer-events: none;
    opacity: 0.5;
}

.dblClickInput {
    box-shadow: 0px 0px 0px rgb(28, 28, 28);
    width: 100%;
    /* width: 50px; */
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.dblClickInput:hover {
    background-color: rgba(0, 0, 0, 0);
}

.dblClickInput:not([readonly]):focus  {
    background-color: rgb(50, 50, 50);
    border: solid rgb(69, 69, 69) 2px;
}

input[type="color"] {
    width: 27px;
    height: 27px;
    background: none;
    vertical-align: -3px;
    border: 0px;
    box-shadow: none;
}

input[type="number"] {
    min-width: fit-content;
    width: 100%;
    text-align: right;
}

/* チェックボックスを非表示（ただし、操作は可能） */
/* input[type="checkbox"] {
    display: none;
} */

/* チェックボックスのカスタムデザイン */
.custom-checkbox {
    display: inline-block;
    width: 15px;  /* サイズ調整 */
    height: 15px;
    background-color: #545454; /* 背景色（黒に近いグレー） */
    border-radius: 2px;  /* 角丸 */
    border: 0.5px solid #464646; /* 枠線 */
    position: relative;
    cursor: pointer;
}
/* チェックが入ったときの見た目 */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: rgb(71 114 179);
}
input[type="checkbox"]:checked + .custom-checkbox::after { /* チェックを表示 */
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 5px;
    left: 50%;
    top: 50%;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* 表示/非表示 */
.eye-icon-container {
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eye-icon {
    /* 正方形の一組の対角を丸めて横に45度かいてん */
    position: absolute;
    width: 9px;
    height: 9px;
    margin: 2px; /** 回転で横幅は　sqrt(width ** 2 + height ** 2)　になるためそれを考慮したmargin **/
    border-radius: 60% 0 60% 0;
    transform: rotate(45deg);
    background: white;

    /* マスク（穴をあける） */
    -webkit-mask-image: radial-gradient(circle at center, transparent 0px, transparent 3.5px, black 3.5px);
    mask-image: radial-gradient(circle at center, transparent 0px, transparent 3.5px, black 3.5px);
}
.eye-icon-pupil {
    position: absolute;
    width: 3px;
    height: 3px;
    background: #ffffff; /* 中の丸い瞳 */
    border-radius: 50%;
}
input[type="checkbox"]:not(:checked) + .eye-icon-container .eye-icon-pupil::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 2px;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%) rotate(45deg); /* 中心に配置 & ちょっと斜めに */
}

.button-checkbox {
    display: inline-block;
    width: fit-content;
    height: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    border: solid 1px rgb(77, 77, 77);
    background-color: rgb(120, 120, 120);
    box-shadow: 0px 1px 0px rgb(28, 28, 28);
}
input[type="checkbox"]:checked + .button-checkbox { /* チェックを表示 */
    background-color: #5492ff;
}
.button-checkbox-text {
    margin: auto;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

/* スライダー */
input[type="range"] {
    -webkit-appearance: none; /* デフォルトのスタイルをリセット */
    appearance: none;
    display: block;
    margin: auto;
    background-color: #404040; /* スライダーの背景色 */
    outline: none; /* フォーカス時の青い枠を消す */
    width: 100%; /* スライダーの幅 */
    border-radius: 4px; /* 丸みをつける */
    padding: 0px;
}
input[type="range"]:hover {
    background-color: #5c5c5c; /* スライダーの背景色 */
}
/* スライダーのつまみ（thumb）のスタイル */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px; /* つまみの幅 */
    height: 17px; /* つまみの高さ */
    background-color: #787878; /* つまみの色 */
    border-radius: 4px; /* つまみを丸く */
    cursor: pointer;
}

/* チェックボタン */
/* チェックボックスを非表示（ただし、操作は可能） */
input[type="checkbox"]:checked + .radioElement { /* チェックを表示 */
    background-color: rgb(71 114 179);
}

/* ラジオボタン */
/* チェックボックスを非表示（ただし、操作は可能） */
input[type="radio"] {
    display: none;
}
.radioElement {
    height: 25px;
    border-radius: 4px;
    padding: 2px;
    border: solid 1px rgb(77, 77, 77);
    background-color: rgb(120, 120, 120);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    box-shadow: 0px 1px 0px rgb(28, 28, 28);
    cursor: pointer;
}
input[type="radio"]:checked + .radioElement { /* チェックを表示 */
    background-color: rgb(71 114 179);
}

button {
    height: 25px;
    border-radius: 4px;
    padding: 2px;
    border: solid 1px rgb(77, 77, 77);
    background-color: rgb(120, 120, 120);
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 2px;

    box-shadow: 0px 1px 0px rgb(28, 28, 28);
}

button:hover {
    background-color: rgb(137, 137, 137);
}

button:active {
    background-color: rgb(71 114 179);
}

.button-min {
    width: 20px;
    aspect-ratio: 1 / 1;
    text-align: center;
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
    width: 5px; /* 縦スクロールバーの幅 */
    height: 0px; /* 横のスクロールバーを非表示 */
}

/* トラック部分（背景）のスタイル */
::-webkit-scrollbar-track {
    background: #00000000;
    border-radius: 10px;
}

/* つまみ部分（ドラッグできる部分）のスタイル */
::-webkit-scrollbar-thumb {
    background: #8c8c8c;
    border-radius: 10px;
}

/* つまみ部分のホバー時のスタイル */
::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}

.flex {
    width: 100%;
    display: flex;
}

.flex-gap10px {
    width: 100%;
    display: flex;
    gap: 10px;
}

.modeSelect {
    max-width: 100%;
    /* width: fit-content; */
    width: 100%;
    height: fit-content;
    background-color: rgb(48, 48, 48);
    display: flex;
    gap: 10px;
    padding: 2px;
    /* overflow: hidden; */
    overflow-x: auto;
}

.grid-main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grid-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

/* 現在マウスのいるグリッドを光らせる */
.grid-container:hover > .modeSelect {
    background-color: rgb(76, 76, 76);
}

.all {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 30px calc(100% - 30px);
    position: relative;
    /* grid-template-rows: auto 1fr; */
}

/* .main {
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
} */

#save-btn {
    background-color: #00000000;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

input[type="file"] {
    display: none;
}

.scrollable {
    width: 100%;
    height: 100%;
    overflow-y: auto; /* スクロールを有効にする */
    overflow-x: hidden; /* スクロールを有効にする */
    display: flex;
    flex-flow: column;
}

.flexRow {
    width: 100%;
    height: 100%;
    display: flex;
}

.color1 {
    background-color: #818181;
}

.color2 {
    background-color: rgb(61, 61, 61);
}

.color3 {
    background-color: #414141;
}

.color4 {
    background-color: #161616;
}

.activeColor {
    background-color: rgb(71 114 179);
}

.activeColor2 {
    background-color: rgb(53, 86, 135);
}

.clearColor {
    background-color: rgba(0, 0, 0, 0);
}

.gap-2px {
    gap: 2px;
}

.gap-20px {
    gap: 20px;
}

.flex-row {
    border-radius: 10px;
    border: 2px solid rgb(62, 62, 62);
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
}

.flex-0 {
    width: 100%;
    display: flex;
}

.coordinate-input {
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 5px 10px 5px 1fr;
}

.coordinate-input label {
    grid-column: 2 / 3; /* 右下 */
}

.coordinate-input input {
    grid-column: 4 / 5; /* 右下 */
}

.label-input {
    overflow: hidden;
    width: 100%;
    /* width: fit-content; */
    /* min-width: 100px; */
    height: fit-content;
    display: grid;
    grid-template-columns: max-content 5px 1fr;
}

.label-input label {
    grid-column: 1 / 2; /* 右下 */
}

.label-input :nth-child(2) {
    grid-column: 3 / 4; /* 右下 */
}

label {
    display: flex;
    justify-content: center; /* 横中央揃え */
    align-items: center; /* 縦中央揃え */
}

.hidden {
    display: none !important;
}

.mi-2px {
    margin: 2px;
}

.mi-10px {
    margin: 10px;
}

.pa-2px {
    padding: 2px;
}

.pa-10px {
    padding: 10px;
}

.pa-r-0px {
    padding-right: 0px;
}

.pa-l-0px {
    padding-right: 0px;
}

.resizer-w {
    position: absolute;
    right: 2px;
    bottom: 50%;
    align-items: center;
    width: 10px;
    height: 20px;
    background-color: #646464;
    cursor: col-resize;
}

.resizer-h {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    width: 20px;
    height: 10px;
    background-color: #646464;
    cursor: row-resize;
}

.hidden-btn {
    width: 100%;
    background-color: #00000000;
    border: 0px;
    box-shadow: 0px 0px 0px #00000000;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* 親の高さを明示的に指定 */
}

.icon img {
    border-radius: 0px;
    height: 15px;
    aspect-ratio: 1/1;
    display: block;
}

/* :has(.icon) {
    background-color: #ff0000;
} */

.minList {
    width: 100%;
    height: 100%;
    padding: 0px 5px 20px 5px;
    background-color: rgb(28, 28, 28);
    overflow: hidden;
}

.minList > * {
    background-color: rgb(39, 39, 39);
}

.square_btn {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    background: #ffffff00; /* ボタンの背景色 */
}
.square_btn:hover {
    background: #ffffff2c; /* ボタンの背景色 */
}
.square_btn::before, .square_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; /* 棒の幅（太さ） */
    height: 12px; /* 棒の高さ */
    background: #dbdbdb; /* バツ印の色 */
}
.square_btn::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.square_btn::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}


li {
    list-style: none;
    width: 100%;
    /* height: 100%; */
    height: fit-content;
}

.heightCenter {
    display: flex;
    justify-content: center; /* 横方向中央 */
    align-items: center;     /* 縦方向中央 */
    width: 100%;
    height: 100%;
}