.menubar {
    grid-row: 1 / 2;
    width: 100%;
    height: 30px;
    background-color: #121212;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    padding: 2px;
    border-radius: 0px;
}

.menubar > * {
    text-align: center;
    width: 100px;
    font-weight: bolder;
    height: 100%;
}

.menubar input[type="text"] {
    font-size: 100%;
}

.menubar #projectNameContainer {
    width: 200px;
    height: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
}