.timeline-grid-w {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 200px 1fr; /* 左右2分割 */
    grid-template-rows: 1fr; /* 上下1分割 */
    background-color: #ad3838; /* 枠線用の色 */
    background-color: #181818;
}

.channel-body {
    grid-column: 1 / 2; /* 右上 */
    grid-row: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.channel-header {
    width: 100%;
    height: 25px;
    background-color: #2c2c2c;
    z-index: 9999;
}

.channel-main {
    width: 100%;
    height: 100%;
    background-color: #292929;
    z-index: 9999;
}

.timeline-container {
    grid-column: 2 / 3; /* 右上 */
    grid-row: 1;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.timeline-body {
    background-color: #323232;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: fit-content;
}

.timeline-header {
    position: relative;
    height: 25px;
    /* width: 100%; */
    width: fit-content;
}

.timeline-main {
    position: relative;
    height: 100%;
    /* width: 100%; */
    width: fit-content;
}

.timelineStartToEnd {
    display: flex;
    position: absolute;
    width: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff2a;
    border-radius: 0px;
}

.timeline {
    position: absolute;
    width: fit-content;
    height: 100%;
    overflow-y: auto; /* スクロールを有効にする */
    background-color: rgb(71, 71, 71);
    display: flex;
    flex-flow: column;
}

.timeline ul {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    min-height: 20px;
}

.time-segments {
    display: flex;
    position: absolute;
    gap: 50px;
    /* width: 100%; */
    width: fit-content;
    height: 100%;
}

.time-nowframes {
    display: flex;
    position: absolute;
    width: fit-content;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c2c2c;
    z-index: 99999;
}

.time-nowframes::before {
    font-size: 140%;
    content: var(--label, "");
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #0043de;
    border-radius: 4px;
    color: white;
    padding: 0 5px;
}

.time-frames {
    display: flex;
    position: relative;
    gap: 50px;
    width: fit-content;
    height: 100%;
    background-color: #2c2c2c;
    z-index: 9999;
}

.time-frames * {
    width: 0; /* 見た目上の幅はゼロ */
    position: relative;
    background-color: transparent;
}

.time-frames *::before {
    font-size: 140%;
    content: var(--label, "");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 0 5px;
}

/* .time-frames :nth-child(5n) *::before {
    font-size: 190%;
} */

.time-segments > * {
    width: 0; /* 見た目上の幅はゼロ */
    height: 100%;
    position: relative;
    background-color: transparent;
}

.time-segments > *::after {
    content: "";
    position: absolute;
    left: 50%; /* 見た目の中央 */
    top: 0px;
    transform: translateX(-0.5px); /* 線を中央へ調整 */
    width: 1px; /* 見た目の線幅 */
    background-color: #000000;
    height: 100%; /* 縦線の高さ */
    z-index: 100;
}

.time-segments > :nth-child(5n + 1)::after {
    width: 2px; /* 5の倍数の線を太く */
    transform: translateX(-1px); /* 線を中央へ調整 */
}

.timeline-animtionKey {
    position: absolute;
    width: 10px;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 101;
    cursor: pointer;
}