:root {
    --color3: #272727; /* 任意の色 */
    --colorAreaBG: rgb(80, 80, 80);
    --colorSection: rgb(115, 115, 115);
    --colorSectionBoder: rgb(130, 130, 130);
    --colorActive: rgb(71 114 179);
}

.imgText {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.ui_options {
    background-color: var(--color3);
    border: 0px;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
}

.ui_container_0 {
    background-color: var(--color3);
    gap: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
}
.ui_container_0 > *{
    flex-shrink: 0;
}

.ui_container_1 {
    background-color: var(--color3);
    gap: 5px;
    padding: 5px;
    height: fit-content;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* エリア */
.area {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 25px 1fr;
}
.area:hover .header {
    background-color: #686868;
}
/* ヘッダー */
.area .header {
    grid-row: 1/2;
    padding: 0px 5px;
    display: flex;
    overflow: hidden;
    align-items: center;      /* 縦方向中央 */
    width: fit-content;
    height: 100%;
    background-color: var(--colorAreaBG);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.area .header :first-child {
}
.area .header :nth-child(2) {
}
.area .header :nth-child(3) > * {
    font-weight: 900;
}
/* メイン */
.area .main {
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    background-color: var(--colorAreaBG);
    overflow: hidden;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.canvasContainer {
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    background-color: var(--colorAreaBG);
    overflow: hidden;
    position: relative;
}

.renderingTarget {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 100%;
    position: absolute;
}

canvas {
    border-radius: 0px;
}

/* 区切り */
.separator::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%; /* 文字と同じ高さ */
    background-color: #686868; /* 縦線の色 */
    margin-left: 0.5em; /* テキストと縦線の間隔 */
    vertical-align: middle;
}

.section {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--colorSectionBoder);
    background-color: var(--colorSection);
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 5px;
}
.section:hover {
    background-color: rgb(108, 108, 108);
}
.section-title {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.section-main {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.custom-select {
    background-color: #151515;
    border-radius: 4px;
    border: solid rgb(63, 63, 63) 2px;
    padding: 2px;
    height: 15px;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
}

#custom-select-items {
    border-top-left-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: #151515;
    z-index: 1000;
    gap: 5px;
    padding: 5px;
}

#custom-select-items > * {
    border-radius: 0px;
    width: fit-content;
    height: 15px;
}

#custom-select-items > *:hover {
    background-color: var(--colorActive);
}

#custom-select-items > * > * {
    width: 100%;
}

.shelfe {
    background-color: var(--colorAreaBG);
    width: fit-content;
    pointer-events: all;
}