.viewGrid {
    display: grid;
    grid-template-columns: auto 1fr; /* 列で分割 */
    width: 100%;
    height: 100%;
    position: relative; /* relative にして子要素を absolute で配置できるようにする */
}

.viewGrid canvas {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
}

.viewGrid .shelf {
    grid-column: 2/3;
}

.toolbar {
    grid-column: 1/2;
    width: fit-content;
    height: 100%;
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-flow: column;
}

.toolbar li {
    width: 25px;
    height: 25px;
    background-color: rgb(103, 103, 103);
}

.toolbar li:hover {
    background-color: rgb(137, 137, 137);
}